@use "nswow";

$numberSize: 100;

.srl-cv-timeline {
  > span {
    display: flex;
    flex-wrap: nowrap;
    @each $breakpoint, $gutter in nswow.$grid-gutter {
      $gap: map-get($gutter, gap);
      $column-gap: map-get($gutter, column-gap);
      @if not $column-gap {
        $column-gap: $gap;
      }
      @if $column-gap {
        @include nswow.grid-media($breakpoint) {
          column-gap: nswow.system-size-unit($column-gap);
        }
      }
    }
  }

  &__years {
    flex: 0 0 nswow.system-size-unit($numberSize);
  }
}