@use "@multivisio/nswow/scss/system/variables.scss" as systemVariables with (
  $environment: production
);

@use "@multivisio/nswow/scss/grid/variables.scss" as gridVariables with (
  $containers: (
    phone: (
      padding: 15
    ),
    portrait: (
      padding: 20
    ),
    landscape: (
      padding: 20
    ),
    desktop: (
      padding: 20,
      max-width: 1600
    )
  ),
  $breakpoints: (
    phone: 0,
    portrait: 768,
    landscape: 1024,
    desktop: 1280
  ),
  $gutter: (
    phone: (
      columns: 12,
      row-gap: 10,
      column-gap: 10
    ),
    portrait: (
      columns: 12,
      row-gap: 15,
      column-gap: 15
    ),
    landscape: (
      columns: 12,
      gap: 20
    ),
    desktop: (
      columns: 12,
      row-gap: 20,
      column-gap: 20
    )
  )
);

@use "@multivisio/nswow/scss/colors/variables.scss" as colorsVariables with (
  $colors: (
    primary: (
      description: "",
      color: rgba(181, 0, 0, 1)
    ),
    copy: (
      description: "",
      color: rgba(60, 60, 60, 1)
    ),
    light: (
      description: "",
      color: rgba(255, 255, 255, 1)
    ),
    dark: (
      description: "",
      color: rgba(0, 0, 0, 1)
    ),
    accent: (
      description: "",
      color: rgba(240, 242, 246, 1)
    ),
    alert: (
      description: "",
      color: #ff0000
    )
  )
);

@use "@multivisio/nswow/scss/typography/variables.scss" as typographyVariables with (
  $typography: (
    headline1: (
      font-size: 32,
      line-height: 1.2,
      font-weight: 400,
      margin-top: 30,
      margin-bottom: 15,
      media: (
        landscape: (
          font-size: 16,
          line-height: 1.5,
          font-weight: 700,
          margin-top: 10,
          margin-bottom: 10
        )
      )
    ),
    headline2: (
      font-size: 20,
      line-height: 1.2,
      font-weight: 400,
      margin-top: 0,
      margin-bottom: 15,
      media: (
        portrait: (
          font-size: 28
        ),
        landscape: (
          font-size: 28
        ),
        desktop: (
          font-size: 28
        )
      )
    ),
    headline3: (
      font-size: 16,
      line-height: 1.2,
      font-weight: 400,
      margin-top: 0,
      margin-bottom: 15,
      media: (
        portrait: (
          font-size: 18
        ),
        landscape: (
          font-size: 20
        ),
        desktop: (
          font-size: 20
        )
      )
    ),
    headline4: (
      font-size: 22,
      line-height: 1.2,
      font-weight: 400,
      margin-top: 0,
      margin-bottom: 15
    ),
    headline5: (
      font-size: 20,
      line-height: 1.2,
      font-weight: 400,
      margin-top: 0,
      margin-bottom: 15
    ),
    headline6: (
      font-size: 18,
      line-height: 1.2,
      font-weight: 400,
      margin-top: 0,
      margin-bottom: 15
    ),
    copy: (
      font-size: 16,
      line-height: 1.5,
      font-weight: 300,
      margin-top: 0,
      margin-bottom: 20
    ),
    copy2: (
      font-size: 16,
      line-height: 1.2,
      font-weight: 300,
      margin-top: 0,
      margin-bottom: 16
    )
  )
);
