@use "nswow";

.srl-spacer {
  &-print {
    &-small {height: nswow.$system-size-unit(nswow.spacer(small), in);}
    &-medium {height: nswow.$system-size-unit(nswow.spacer(medium), in);}
    &-large {height: nswow.$system-size-unit(nswow.spacer(large), in);}
    &-extra-large {height: nswow.$system-size-unit(nswow.spacer(extra-large), in);}
  }
}