@use "nswow";

.srl-title-h6 {
  @include nswow.typography-headline6(true);
  color: nswow.colors-primary();

  break-before: auto;
  break-inside: avoid;
  break-after: auto;
}

.srl-article-root,
.ns-article
{
  > .srl-title-h6 {
    @include nswow.grid-container();
    @include nswow.grid-row();

    > span {
      @include nswow.grid-col(12, phone);
      @include nswow.grid-col(12, portrait);
      @include nswow.grid-col(12, landscape);
      @include nswow.grid-col(9, desktop);
      @include nswow.grid-offset(2, desktop);
      @include nswow.grid-col(9, print);
      @include nswow.grid-offset(2, print);
    }
  }
}
