@use "nswow";
@use "nswow";

.srl-pdf-cover {
  aspect-ratio: 210 / 297;
  background-position: center;
  background-size: cover;
  width: 100%;
  position: relative;

  page-break-before: always;
  page-break-inside: avoid;
  page-break-after: always;

  &-h1 {
    @include nswow.typography-headline1(true);
  }

  &-h2 {
    @include nswow.typography-headline2(true);
  }

  &__top {
    position: absolute;
    left: nswow.system-size-unit(50, in);
    top: nswow.system-size-unit(50, in);
  }

  &__bottom {
    position: absolute;
    right: nswow.system-size-unit(100, in);
    bottom: nswow.system-size-unit(100, in);

    @include nswow.helpers-trim-margins;
  }

  &__logo {
    width: 100%;
    &-container {
      width: nswow.system-size-unit(400, in);
    }
  }
}