.ns-table-container {
  overflow: auto;
  scroll-snap-type: x mandatory;
  position: relative;
}

table {
  position: relative;
  border-collapse: separate;
  table-layout: auto;

  @-moz-document url-prefix() {
    border-collapse: inherit;
  }
}





