@use "nswow";
@use "nswow/grid";

$numberSize: 50;

.srl-title-h3 {
  @include nswow.typography-headline3(true);
  color: nswow.colors-gray-800();

  break-before: auto;
  break-inside: avoid;
  break-after: auto;
}
