@use "nswow";
@use "nswow/grid";

$numberSize: 50;

.srl-title-h3 {
  @include nswow.typography-headline3(true);

  break-before: auto;
  break-inside: avoid;
  break-after: auto;

  &__number {
    color: nswow.colors-copy();
  }

  &__text {
    color: nswow.colors-primary();
  }
}

.srl-article-root,
.ns-article
{
  > .srl-title-h3 {
    @include nswow.grid-container();
    @include nswow.grid-row();

    > span {
      @include nswow.grid-col(12, phone);
      @include nswow.grid-col(12, portrait);
      @include nswow.grid-col(12, landscape);
      @include nswow.grid-col(9, desktop);
      @include nswow.grid-offset(2, desktop);
      @include nswow.grid-col(9, print);
      @include nswow.grid-offset(2, print);
    }
  }
}
