@use "nswow";

$numberSize: 50;
$iconSize: 20;

.srl-accordion {
  &__title {
    $gap: map-get(nswow.$grid-gutter, print, gap);
    $column-gap: map-get(nswow.$grid-gutter, print, column-gap);
    @if not $column-gap {
      $column-gap: $gap;
    }
    @if not $column-gap {
      $column-gap: 0;
    }

    display: block;
    position: relative;
    &-number {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: nswow.system-size-unit($numberSize, in);
    }

    &-text {
      display: block;
      &:not(:first-child) {
        margin-left: nswow.system-size-unit($numberSize + $column-gap, in);
      }
    }

    &-icon {
      display: none;
    }
  }
}