@use "nswow";
@use "nswow/grid";

$numberSize: 50;

.srl-title-h2 {
  color: nswow.colors-gray-800();

  break-before: auto;
  break-inside: avoid;
  break-after: auto;
  @include nswow.typography-headline2(true);
}
