@use "nswow";
@use "nswow/grid";

.srl-title-h2 {
  @include nswow.typography-headline1(true);
  color: nswow.colors-primary();

  page-break-before: auto;
  page-break-inside: avoid;
  page-break-after: auto;
  break-before: auto;
  break-inside: avoid;
  break-after: auto;

  &__number {
    color: nswow.colors-copy();
    width: nswow.system-size-unit(50);
    @include nswow.grid-media(print) {
      width: nswow.system-size-unit(50, in);
    }
  }

  &__text {
    color: nswow.colors-primary();
  }

  > span {
    display: flex;
    @each $breakpoint, $gutter in grid.$gutter {
      $gap: map-get($gutter, gap);
      $column-gap: map-get($gutter, column-gap);
      @if not $column-gap {
        $column-gap: $gap;
      }
      @if $column-gap {
        @include nswow.grid-media($breakpoint) {
          column-gap: $column-gap;
        }
      }
    }
  }
}

.ns-article,
.livingdocs {
  > .srl-title-h2 {
    @include nswow.grid-container();
    @include nswow.grid-row();

    > span {
      @include nswow.grid-col(12, phone);
      @include nswow.grid-col(12, portrait);
      @include nswow.grid-col(12, landscape);
      @include nswow.grid-col(9, desktop);
      @include nswow.grid-offset(2, desktop);
      @include nswow.grid-col(9, print);
      @include nswow.grid-offset(2, print);
    }
  }
}
