@use "nswow";

.srl-columns {
  padding-bottom: nswow.system-size-unit(30);

  break-before: auto;
  break-inside: auto;
  break-after: auto;

  @include nswow.grid-media(print) {
    padding-bottom: nswow.system-size-unit(30, in);
  }

  &__grid {
    @include nswow.grid-row();
  }

  &__column {
    break-before: auto;
    break-inside: auto;
    break-after: auto;

    @include nswow.grid-col(12, phone);
    @include nswow.grid-col(6, portrait);
    @include nswow.grid-col(6, landscape);
    @include nswow.grid-col(6, desktop);
    @include nswow.grid-col(6, print);

    @include nswow.helpers-trim-margins();

    &--3,
    &--4 {
      display: none;
    }
  }

  &.srl-columns--1-2 {
    .srl-columns__column {
      &--1 {
        @include nswow.grid-col(12, phone);
        @include nswow.grid-col(4, portrait);
        @include nswow.grid-col(4, landscape);
        @include nswow.grid-col(4, desktop);
        @include nswow.grid-col(4, print);
      }

      &--2 {
        @include nswow.grid-col(12, phone);
        @include nswow.grid-col(8, portrait);
        @include nswow.grid-col(8, landscape);
        @include nswow.grid-col(8, desktop);
        @include nswow.grid-col(8, print);
      }
    }
  }

  &.srl-columns--2-1 {
    .srl-columns__column {
      &--1 {
        @include nswow.grid-col(12, phone);
        @include nswow.grid-col(8, portrait);
        @include nswow.grid-col(8, landscape);
        @include nswow.grid-col(8, desktop);
        @include nswow.grid-col(8, print);
      }

      &--2 {
        @include nswow.grid-col(12, phone);
        @include nswow.grid-col(4, portrait);
        @include nswow.grid-col(4, landscape);
        @include nswow.grid-col(4, desktop);
        @include nswow.grid-col(4, print);
      }
    }
  }

  &.srl-columns--3 {
    .srl-columns__column {
      @include nswow.grid-col(12, phone);
      @include nswow.grid-col(4, portrait);
      @include nswow.grid-col(4, landscape);
      @include nswow.grid-col(4, desktop);
      @include nswow.grid-col(4, print);

      &--3 {
        display: block;
      }
    }
  }

  &.srl-columns--4 {
    .srl-columns__column {
      @include nswow.grid-col(12, phone);
      @include nswow.grid-col(3, portrait);
      @include nswow.grid-col(3, landscape);
      @include nswow.grid-col(3, desktop);
      @include nswow.grid-col(3, print);

      &--3,
      &--4 {
        display: block;
      }
    }
  }
}