@use "../system";

$class-prefix: system.$class-prefix !default;
$variable-prefix: system.$variable-prefix !default;

$containers: () !default;
$breakpoints: () !default;
$gutter: () !default;

$column-default-span: 4 !default;

