$environment: development !default;

$variable-prefix: "nwwow-" !default;
$class-prefix: "" !default;

$root-size: 16 !default;
$size-unit: "rem" !default;

$meta: () !default;

$root-styles: () !default;