@use "nswow";

$numberSize: 100;

$gap: map-get(nswow.$grid-gutter, print, gap);
$column-gap: map-get(nswow.$grid-gutter, print, column-gap);
@if not $column-gap {
  $column-gap: $gap;
}
@if not $column-gap {
  $column-gap: 0;
}

.srl-pdf-toc-item {
  @include nswow.typography-copy1(true);
  &--title {
    @include nswow.typography-headline4(true);
  }

  > span {
    position: relative;
  }

  &__number {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: nswow.system-size-unit($numberSize, in);
  }

  &__text {
    display: block;
    color: nswow.colors-primary();

    &:not(:first-child) {
      margin-left: nswow.system-size-unit($numberSize + $column-gap, in);
    }
  }
}