@use "nswow";
@use "web";

.fade-enter-from {
  opacity: 0;
}

.fade-enter-to {
  opacity: 1;
}

.fade-enter-active {
  transition: opacity 300ms linear;
}

.fade-leave-from {
  opacity: 1;
}

.fade-leave-to {
  opacity: 0;
}

.fade-leave-active {
  transition: opacity 300ms linear;
}

.srl-article-root,
.ns-article
{
  > .srl-article__grid {
    margin-right: auto;
    margin-left: auto;
  }
}