/* color palette from <https://github.com/vuejs/theme> */
:root {
    --mms-black: rgba(0, 0, 0, 1);
    --mms-black-10: rgba(0, 0, 0, .1);
    --mms-black-25: rgba(0, 0, 0, .25);
    --mms-black-50: rgba(0, 0, 0, .5);
    --mms-black-90: rgba(0, 0, 0, .9);
    --mms-white: #fff;
    --mms-blue: rgba(133, 167, 205, 1);
    --mms-blue-05: rgba(133, 167, 205, .05);
    --mms-blue-dark: rgba(0, 97, 157, 1);
    --mms-body-bg: var(--mms-white);
    --mms-border-color: rgba(0, 0, 0, 0.125);
    --mms-input-color: #212529;
    --mms-blue-light: rgba(133, 167, 205, 0.75);

    --mms-grey: rgba(191, 191, 191, 1);
    --mms-grey-05: rgba(191, 191, 191, .05);
    --mms-grey-10: rgba(191, 191, 191, .1);
    --mms-grey-15: rgba(191, 191, 191, .15);
    --mms-grey-25: rgba(191, 191, 191, .25);
    --mms-grey-50: rgba(191, 191, 191, .5);
    --mms-grey-75: rgba(191, 191, 191, .75);

    --mms-purple: rgba(86, 42, 109, 1);
    --mms-purple-05: rgba(86, 42, 109, .05);
    --mms-purple-10: rgba(86, 42, 109, .1);
    --mms-purple-25: rgba(86, 42, 109, .25);
    --mms-purple-50: rgba(86, 42, 109, .5);
    --mms-purple-75: rgba(86, 42, 109, .75);
    --mms-purple-darken-85: rgba(12, 6, 16, 1);

    --space-small: 10px;
    --space-medium: 20px;
    --space-large: 40px;
  }

  @import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;700&display=swap');
//   @font-face {
//     font-family: 'Lineto Akkurat';
//     src:    url('../fonts/lineto-akkurat-regular.eot');
//     src:    url('../fonts/lineto-akkurat-regular.eot?#iefix') format('embedded-opentype'),
//             url('../fonts/lineto-akkurat-regular.woff2') format('woff2'),
//             url('../fonts/lineto-akkurat-regular.woff') format('woff');
//     font-weight: 400;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Lineto Akkurat';
//     src:    url('../fonts/lineto-akkurat-bold.eot');
//     src:    url('../fonts/lineto-akkurat-bold.eot?#iefix') format('embedded-opentype'),
//             url('../fonts/lineto-akkurat-bold.woff2') format('woff2'),
//             url('../fonts/lineto-akkurat-bold.woff') format('woff');
//     font-weight: 700;
//     font-style: normal;
// }

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

// ::selection {
//   background: var(--mms-purple-25);
// }
// ::-moz-selection{
//   background: var(--mms-purple-25);
// }

body {
  min-height: 100vh;
  color: var(--mms-black);
  line-height: 1.6;
  // font-family: 'Lineto Akkurat', Arial, Helvetica, sans-serif;
  font-family: 'Sora', sans-serif;
  font-size: 14px;
  font-weight: 200 !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

strong, b {
  font-weight: 700;
}
