@use "nswow";

.srl-pdf-cover--chapter {
  aspect-ratio: 210 / 297;
  background-position: center;
  background-size: cover;
  width: 100%;
  position: relative;

  page-break-before: always;
  page-break-inside: avoid;
  page-break-after: always;

  &__title {
    position: absolute;
    right: nswow.system-size-unit(100, in);
    bottom: nswow.system-size-unit(100, in);
  }
}