@use "../system";
@use "sass:map";

$class-prefix: system.$class-prefix !default;
$variable-prefix: system.$variable-prefix !default;

$typography: () !default;

@mixin add-typography($typo, $map) {
    $typography: map.set($typography, $typo, $map) !global;
}