@use "nswow";

.srl-button-container {
  margin-bottom: nswow.system-size-unit(30);
  @include nswow.grid-media(print) {
    margin-bottom: nswow.system-size-unit(30, in);
  }

  &__inner {
    text-align: right;
  }
}
