@use "nswow";

.srl-pdf-video-link {
  &__link-text {
    @include nswow.typography-copy1(true);
  }

  &__link-icon {
    display: inline-block;
    width: nswow.system-size-unit(30);

    @include nswow.grid-media(print) {
      width: nswow.system-size-unit(30, in);
    }
  }
}