@use "nswow";

.srl-quote {

  break-before: auto;
  break-inside: avoid;
  break-after: auto;

  &__container {
    padding: nswow.system-size-unit(20);
    background-color: nswow.colors-secondary-light();
  }

  &__text {
    color: nswow.colors-gray-800();
    @include nswow.typography-blockquote();
  }

  &:not(.hide-quote-characters) {
    .srl-quote__text {
      &:before {
        content: "\301E";
      }
      &:after {
        content: "\301D";
      }
    }
  }

  &__cite {
    margin-top: nswow.system-size-unit(20);
  }

  &__author {
    font-weight: 700;
    color: nswow.colors-gray-800();
    @include nswow.typography-copy3(true);
  }

  &__function {
    color: nswow.colors-gray-800();
    @include nswow.typography-copy3(true);
  }

}
