@use "../system";
@use "../typography";
@use "variables";

@mixin trim-margins {
  > * {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@mixin body-text {
  h1 {
    @include typography.get(headline1, true);
  }
  h2 {
    @include typography.get(headline2, true);
  }
  h3 {
    @include typography.get(headline3, true);
  }
  h4 {
    @include typography.get(headline4, true);
  }
  h5 {
    @include typography.get(headline5, true);
  }
  h6 {
    @include typography.get(headline6, true);
  }
  p,
  ul,
  ol,
  li,
  td,
  th,
  dd,
  dt {
    @include typography.get(copy, true);
  }

  @include trim-margins;
}

@mixin list-reset() {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0;
  }
}

@mixin list-default($list-style: circle) {
  list-style: #{$list-style};
  margin: system.size-unit(variables.$default-list-margin);
  padding: system.size-unit(variables.$default-list-padding);
  li {
    margin: system.size-unit(variables.$default-list-margin);
    padding: system.size-unit(variables.$default-list-padding);
  }
}

@mixin core-styles {

}