@use "nswow";

.srl-signature-item {
  margin-bottom: nswow.system-size-unit(nswow.padding(base));
  @include nswow.grid-col(12, phone);
  @include nswow.grid-col(6, portrait);
  @include nswow.grid-col(6, landscape);
  @include nswow.grid-col(4, desktop);
  @include nswow.grid-col(4, print);

  @include nswow.helpers-trim-margins;



  @include nswow.grid-media(phone) {
    &:last-child {
      margin-bottom: 0;
    }
  }

  @include nswow.grid-media-between(portrait, landscape) {
    :nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  @include nswow.grid-media(desktop) {
    :nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }

  @include nswow.grid-media(print) {
    margin-bottom: nswow.system-size-unit(nswow.padding(base), in);
    :nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }

  &__image {
    text-align: center;
  }

  &__img {
    max-width: 100%;
  }

  &__name {
    @include nswow.typography-copy1(true)
  }

  &__position {
    @include nswow.typography-copy1()
  }
}